body {
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #8ecae6;
    color: #023047;
    border-bottom: 5px solid #219ebc;
    border-left: 5px solid #219ebc;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #023047; 
}

.linkedin {
    text-decoration: none;
    color: #023047;
}

.linkedin:hover {
    text-decoration: underline;
}

.border-blue {
    border: 1px dotted blue;
}
